body {
  font-family: 'Orbitron', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/portfolio-site/assets/images/cyberpunk1.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  filter: blur(6px); /* Adjust blur as needed */
  transform: scale(1.05); /* Prevent blur edges from showing */
}

.cyber-link {
    position: relative;
    color: #a5f3fc;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}

.cyber-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: linear-gradient(90deg, #f472b6, #8b5cf6, #06b6d4);
  transition: all 0.3s ease;
  transform: scaleX(0);
  transform-origin: right;
}


.cyber-link:hover {
  color: #f472b6; /* neon pink */
}

.cyber-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #0f0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 200px;
  gap: 1px;
  
}
.profile img {
  height: 400px;
}
.contact-info {
  display: flex;
  align-items: center; /* or flex-start, if you want them top-aligned */
  justify-content: space-between;
  padding: 30px 160px 15px 5px; /* top, right, bottom, left */
}

.contact-info #downloadcv {
  display: inline-block;
  background: linear-gradient(90deg, #f472b6, #8b5cf6, #06b6d4);
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.contact-info #contactinfo {
  display: inline-block;
  border: solid;
  border-color: #8b5cf6;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
}
.socials {
  display: flex;
  align-items: center; /* or flex-start, if you want them top-aligned */
  justify-content: space-between;
  padding: 5px 280px 15px 130px; /* top, right, bottom, left */
}
.socials i {
  height: 40px;
  width: 40px;
  display: inline-flex;
  font-size: 30px;
  background: linear-gradient(90deg, #f472b6, #8b5cf6, #06b6d4);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}




@keyframes zoomSpeed {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
    filter: drop-shadow(0 0 5px #f0f) drop-shadow(0 0 10px #0ff);
  }
  50% {
    transform: scale(1.5) translateY(-20px);
    filter: drop-shadow(0 0 10px #f0f) drop-shadow(0 0 20px #0ff);
  }
  100% {
    transform: scale(2.5) translateY(-100px);
    opacity: 0;
    filter: drop-shadow(0 0 20px #f0f) drop-shadow(0 0 40px #0ff);
  }
}

.animate-zoomSpeed {
  animation: zoomSpeed 1.5s ease-out forwards;
}
